.btn-icon{
    @apply p-1 leading-[0] rounded-full enabled:hover:bg-secondary-gray duration-100;
}

.base-button {
    @apply p-1 rounded-md capitalize bg-base-orange disabled:opacity-40 text-white enabled:hover:bg-base-orange-darker duration-100;
}

.base-chip {
    @apply h-fit py-1 px-2 flex gap-1 rounded-2xl capitalize select-none bg-primary-dark text-white duration-100;
}

.divider-vertical{
    @apply w-0.5 h-5 bg-secondary-gray;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.25rem;
}

h3{
    font-size: 1.1rem;
}
ul{
    list-style: disc;
}

ol{
    list-style: decimal;
}
.content-rich{
    overflow-wrap: break-word;

    

    ul, ol{
        margin-left: 1rem;
    }

    ul{
        list-style: disc;
    }

    ol{
        list-style: decimal;
    }   
}

.code-block{
    background-color: #000000dc;
    @apply text-base-orange rounded-md p-3 mt-2 overflow-auto leading-[1.6rem];
}
.shiki {
    background: transparent !important;
}

blockquote {
    border-left: 2px solid #d9d9d9;
    margin: 0.5rem 10px;
    padding: 0.3em 10px;
}

.divider{
    @apply border-b-2;
}

.timeline-title{
    @apply text-base-orange text-lg font-bold;
}

.scrollbar-hide{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }